* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 2.5rem;
    font-weight: 500;
    line-height: 2.5rem;
}

h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

h3 {
    font-size: 1.4rem;
    font-weight: 400;
}

p {
    font-size: 1rem;
}

button {
    font-family: 'Kanit', sans-serif;
    margin: 5px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #FFFFFF;
}

a:hover {
    color: #000000;
}

body {
    font-family: 'Kanit', sans-serif;
    font-weight: 200;
    font-size: 18px;
    color: #FFFFFF;
    background-color: #161A1D;
    margin: 0 auto;
    width: 100%;
}

header {
    background-color: #BA181B;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
}

.content-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 40px;
    width: 1000px;
    margin: 0 auto;
    padding: 100px 20px;
}

footer {
    background-color: #BA181B;
    width: 100%;
}

#logo-link {
    font-family: 'League Spartan', sans-serif;
    color: #000000;
    height: 50px;
    display: flex;
    align-items: center;
    gap: 8px;
    margin: 0 10px;
}

#company-logo .logo {
    font-size: 1.5rem;
}

#nav-links,
#footer-links {
    display: flex;
    justify-content: flex-end;
    gap: 30px;
    margin-right: 20px;
}

#footer-links {
    margin-top: 5px;
}

#hero {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 0 20px;
    width: 100%;
}

.hero-title {
    width: 100%;
    text-align: center;
}

.hero-text {
    width: 100%;
    text-align: center;
    font-size: 1.6rem;
    font-weight: 100;
    margin-bottom: 10px;
}

#hero iframe {
    border: 2px solid #FFFFFF;
    width: 560px;
    height: 315px;
}

#promo-email,
#features,
#pricing {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}

.promo-title,
#form {
    width: 100%;
    justify-content: center;
    text-align: center;
}

#form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}


#email {
    width: 300px;
    height: 2rem;
    font-size: 20px;
    text-align: center;
    border: none;
    border-radius: 5px;
}

#submit {
    width: 15%;
    height: 2rem;
    background-color: #BA181B;
    color: #FFFFFF;
    font-size: 20px;
    font-family: 'Kanit', sans-serif;
    border: none;
    border-radius: 5px;
}

#submit:hover {
    cursor: pointer;
}

#features {
    flex-direction: column;
    padding: 0 20%;
    gap: 20px;
}

#features .feature {
    display: flex;
    justify-content: flex-start;
    gap: 20px;
}

#features .feature-icon {
    height: 50px;
    width: 50px;
}

#pricing {
    justify-content: center;
}

#pricing .product {
    width: 280px;
    text-align: center;
    border: 2px solid #FFFFFF;
    padding: 8px;
    margin: 20px;
}

.product .product-name {
    font-weight: 400;
}

.product .product-info {
    font-style: italic;
    margin: 10px 0;
}

.product .price {
    font-size: 1.5rem;
    font-weight: 500;
}

.buy-button {
    background-color: #BA181B;
    color: #FFFFFF;
    width: 80px;
    height: 30px;
    font-family: ;
    font-size: 1.4rem;
    border: none;
    border-radius: 5px;
    padding: 0;
    line-height: 0px;
}

.buy-button:hover {
    cursor: pointer;
}

.copyright {
    text-align: right;
    margin-right: 20px;
    padding-bottom: 5px;
    font-weight: 100;
}

@media only screen and (max-width: 1020px) {
    .content-wrapper {
        width: 100%;
    }
}

@media only screen and (max-width: 800px) {
    h1 {
        font-size: 2.2rem;
    }

    .hero-text {
        font-size: 1.4rem;
    }

    #hero iframe {
        width: 500px;
        height: 300px;
    }
}

@media only screen and (max-width: 700px) {
    #hero iframe {
        width: 400px;
        height: 250px;
    }
}