:root {
    --background-color: #202020;
    --primary-text-color: #ffffff;
    --accent1: #cccccc;
    --accent2: #bb6dd9;
    --accent3: #ffa200;
}

* {
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    background-color: var(--background-color);
    color: var(--primary-text-color);
    margin: 0;
    padding: 0;
}

h1 {
    font-size: 3rem;
    font-weight: 900;
    margin: 0;
    text-align: center;
}

h2 {
    font-size: 2rem;
    font-weight: 400;
    margin: 0 0 1rem 0;
    text-align: center;
}

h3 {
    font-size: 1.2rem;
    margin: 0;
}

p {
    margin: 0;
}

hr {
    width: 100%;
    border: 2px solid var(--accent2);
    margin: 10px 0;
}

main {
    height: 100vh;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    width: 600px;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

main>section {
    width: 100%;
}

.container {
    margin: 1rem auto;
    padding: 1rem;
}

footer h2 {
    font-style: italic;
}

#definition-container {
    width: 80%;
    background-color: #ffffff;
    color: #000000;
    border-radius: 20px;
}

#definition-container h3 {
    margin-bottom: 8px;
}

#definition-container p {
    margin: 0 10px;
}

#checker-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: var(--accent3);
    color: #000000;
    border-radius: 20px;
    min-height: 300px;
    text-align: center;
}

#checker-container #text-input {
    width: 80%;
    margin: 0.5rem auto;
    text-align: center;
    background: none;
    border: 2px solid #000000;
    border-radius: 10px;
    box-shadow: 5px 5px;
    font-size: 1.5rem;
    line-height: 2rem;
}

#checker-container #text-input:focus {
    outline: none;
    background-color: #ffffff;
}

#checker-container #check-btn {
    width: 150px;
    height: 40px;
    margin: 1rem auto;
    font-size: 1.5rem;
    font-weight: 700;
    background-color: #000000;
    color: #ffffff;
    border: 0px;
    border-radius: 20px;
    cursor: pointer;
}

#result {
    font-size: 1.5rem;
}